/* 공통 */

body {
	font-size: 16px;
	font-family: 'NanumSquare', sans-serif;
	line-height: 1;
	color: rgb(51, 61, 75);
	padding-top: 65px;
}

a {
	text-decoration: none;
	color: rgb(51, 61, 75);
}

li {
	list-style: none;
}

a:hover {
	color: rgb(51, 61, 75);
}

.web-container {
	max-width: 800px;
	margin: 0 auto;
}

.title {
	font-size: 50px;
	font-weight: 600;
}

.sub-title {
	font-size: 32px;
	font-weight: 600;
}

/* 메인 페이지 */

.mycards {
	width: 800px;
	margin: 30px auto 100px auto;
}

.profile_img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}


/* 버튼 효과 */
.btn-info:hover {
	background: none;
	color: black;
	border: 1px solid;
	font-size: 1em;
	transform: translateY(-5px);
	box-shadow: 0 0.5em 0.5em -0.4em rgb(44, 130, 164);
}

/* 로그인, 회원가입 */
.member-container {
	max-width: 360px;
	margin: 0 auto;
}

section.member-container {
	height: 70vh;
}

.member-container .col-sm-10 {
	width: 100%;
}

.form__error {
	display: none;
	color: red;
}

#form-submit:disabled {
	background-color: gray;
	border-color: gray;
}

/* 네비게이션 */

.navbar {
	height: 65px;
	box-shadow: 2px 4px 12px #00000014;
}

.navbar-brand {
	margin-left: 60px;
	font-weight: 600;
	cursor: pointer;
}

.login,
.logout {
	display: none;
}

/* 맴버 카드 */

.card {
	border-radius: 12px;
	overflow: hidden;
	border: none;
	box-shadow: 2px 4px 12px #00000014;
}

.card-title {
	font-weight: 600;
}

.sub-description {
	line-height: 1.5;
	font-size: 18px;
	font-weight: 550;
}

/*hover 이미지*/

.img-container {
	position: relative;
	width: 790px;
	height: 450px;
	overflow: hidden;
	margin: 30px 0px 30px 0px;
	border-radius: 15px;
}

.img-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.8s ease;
}

.img-container .hover-img {
	opacity: 0;
}

.img-container:hover .default-img {
	opacity: 0;
}

.img-container:hover .hover-img {
	opacity: 1;
}

 /* footer */

 #footer {
	margin-top: 50px;
	padding: 20px 0;
	text-align: center;
	background-color: rgb(216, 216, 216);
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  .footer-logo h2 {
	font-size: 24px;
  }

  .footer-social a {
	color: #f0f0f0;
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s;
  }
  
  .footer-social a:hover {
	color: #1e90ff; /* 호버 시 밝은 색으로 변경 */
  }
  
  .footer-social a {
	font-size: 18px;
	margin: 0 8px;
  }
  
  .footer-copyright {
	font-size: 14px;
	margin-top: 10px;
  }